/*
IRAN Sans-serif fonts are considered a proprietary software. To gain information about the laws regarding the use of these fonts, please visit www.fontiran.com
--------------------------------------------------------------------------------------
This set of fonts are used in this project under the license: (NYQ34HOW)
--------------------------------------------------------------------------------------
*/
@font-face {
  font-family: pelak;
  src: url("fonts/Pelak-Regular.woff") format("woff");
  font-style: normal;
}
@font-face {
  font-family: pelaklight;
  src: url("fonts/Pelak-light.woff") format("woff");
  font-style: italic;
}
@font-face {
  font-family: pelakbold;
  src: url("fonts/Pelak-Bold.woff") format("woff");
  font-style: normal;
}
:root {
  --color1: #f5f5f5;
  --color2: #0072bc;
  --color3: #ed1651;
  --color4: #ffe75a;
  --btnsize: 1.5rem;
  --fontmain: Inter;
}
* {
  margin: 0px;
}
html {
  font-size: 62.5%;
}
body {
  height: 600vh;
  width: 100vw;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: var(--btnsize);
  font-family: pelakbold;
  position: fixed;
  width: 80vw;
  left: 10vw;
  border-radius: 40px;
  background: white;
  margin-top: 5px;
  padding: 0.2rem;
  z-index: 100;
  transition: all 1s;
}
.logo {
  width: 20%;
}
.logo.active {
  width: 20%;
  position: absolute;
  right: 0;
  top: 0;
}
.btntop {
  background: none;
  padding: 0.7rem 3rem 0.7rem 3rem;
  font-size: var(--btnsize);
  border: var(--color3) solid 1px;
  border-radius: 2rem;
  font-family: pelakbold;
  color: #ed1651;
  margin: 0 0.5rem 0 0.5rem;
}
.navlink {
  margin: 2rem;
  text-decoration: none;
  color: black;
}
#activelink {
  color: var(--color2);
}
.sec1pan {
  font-size: 9rem;
  font-family: pelakbold;
  grid-column: 3;
  grid-row: 8/9;
  white-space: nowrap;
}
.sec1pan2 {
  font-size: 9rem;
  font-family: pelakbold;
  grid-column: 3;
  padding-right: 20rem;
  grid-row: 9/10;
  white-space: nowrap;
}
.sec1p {
  font-size: 2.5rem;
  font-family: pelak;
  grid-column: 3/5;
  grid-row: 10;
  padding-right: 20rem;
  padding-top: 22rem;
}
#sec1back {
  position: absolute;
  z-index: -1;
  right: 5vw;
  width: 30vw;
  height: 40vh;
  border-radius: 0 0 20rem 20rem;
  background-color: var(--color1);
}
#sec2back {
  width: 44vw;
  grid-column: 1/3;
  grid-row: 1/9;
  background-color: #0072bc;
  margin-right: 0.5rem;
  padding-top: 15rem;
}
#sec3back {
  background-color: var(--color3);
  grid-column: 1/11;
  grid-row: 1/8;
}
#sec4back {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 320vh;
  background: rgb(0, 114, 188);
  background: radial-gradient(
    circle,
    rgba(0, 114, 188, 0.9278870483740371) 41%,
    rgba(255, 255, 255, 0.07634643212753855) 100%
  );
  filter: blur(100px);
}
#sec5back {
  position: absolute;
  width: 100vw;
  height: 200vh;
  background-color: var(--color2);
  top: 410vh;
}
#blackbtn {
  background: black;
  font-size: var(--btnsize);
  border: none;
  border-radius: 3rem;
  font-family: pelakbold;
  color: white;
  width: 10vw;
  height: 5vh;
  float: left;
}
#blackdiv {
  grid-column: 3/4;
  grid-row: 10;
  /* padding-right: 20rem; */
  padding-top: 30rem;
}
.sec2pan {
  font-size: 1.8rem;
  font-family: pelaklight;
  padding: 1rem;
  padding-top: 5rem;
  color: white;
}
.sec2pan2 {
  font-size: 7rem;
  font-family: pelak;
  padding: 1rem;
  padding-top: 5rem;
  color: white;
  white-space: nowrap;
}
.sec3pan {
  font-size: 9rem;
  font-family: pelakbold;
  color: #ffffff;
  grid-column: 5;
  /* padding-right: 5rem; */
  white-space: nowrap;
  grid-row: 1;
  margin-top: 2rem;
}
.sec3pan3 {
  font-family: pelakbold;
  grid-column: 6/9;
  grid-row: 8;
  margin-top: 10rem;
}
.sec4pan {
  position: absolute;
  right: 50vw;
  font-size: 11rem;
  font-family: pelakbold;
  top: 330vh;
  color: white;
  width: 40vw;
}
.sec5pan {
  position: absolute;
  right: 45vw;
  font-size: 11rem;
  font-family: pelakbold;
  top: 420vh;
  color: white;
  width: 40vw;
}
.sec3p.inactive {
  display: none;
  transition: all 0.5s;
}
.sec3p.active {
  font-size: 1.8rem;
  font-family: pelak;
  color: white;
  grid-row: 2/6;
  grid-column: 6/10;
  transition: all 1s;
  animation: mamad;
}
@keyframes mamad {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.things {
  display: flex;
  grid-column: 1/4;
  grid-row: 8;
}
.icons {
  background: white;
  padding: 1rem 6rem 1rem 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-box-shadow: 5px 4px 26px 4px rgba(0, 0, 0, 0.22);
  box-shadow: 5px 4px 26px 4px rgba(0, 0, 0, 0.22);
  margin: 2.5rem;
}
.iconpan {
  margin-top: 2rem;
  font-size: 1.5rem;
}
.circles {
  display: flex;
  grid-row: 7;
  grid-column: 6;
  margin-top: 20rem;
}
.circle {
  background-color: white;
  border-radius: 100%;
  width: 1vw;
  height: 1vw;
  margin: 1rem;
}
.circle.active {
  background-color: black;
}
.images {
  position: absolute;
  right: 15vw;
  display: flex;
  /* font-size: 11rem;
    font-family: pelakbold; */
  top: 440vh;
  /* color: white;
    width: 40vw; */
}
.images2 {
  position: absolute;
  right: 15vw;
  display: flex;
  /* font-size: 11rem;
      font-family: pelakbold; */
  top: 500vh;
  /* color: white;
      width: 40vw; */
}
.imgc img {
  width: 70%;
}
.imgdis {
  font-size: 1.5rem;
  font-family: pelakbold;
  /* margin: 1rem; */
}
.imgc img:hover {
  transform: scale(0.8);
}
.navbtm {
  position: absolute;
  width: 80vw;
  left: 10vw;
  height: 50vh;
  top: 560vh;
  border-radius: 2rem 2rem 0 0;
  background-color: white;
}
.container {
  display: flex;
  display: flex;
  justify-content: space-evenly;
  margin-top: 2.5rem;
}
.rowlink {
}
.boldlink {
  font-size: 2rem;
  font-family: pelakbold;
  margin-bottom: 2rem;
  text-decoration: none;
  color: black;
}
.slink {
  font-size: 1.3rem;
  font-family: pelak;
  margin-bottom: 0.5rem;

  text-decoration: none;
  color: black;
}
.social {
  display: flex;
  right: 12rem;
  bottom: 2rem;
  position: absolute;
}
.social img {
  width: 25%;
  margin: 0.5rem;
}
#logo2 {
  float: left;
  width: 50%;
}
.section1back {
  height: 100vh;
  display: grid !important;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}
.section2 {
  height: 100vh;
  display: grid !important;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}
.section3 {
  height: 100vh;
  display: grid !important;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}
#bulb1 {
  grid-column: 5;
  /* float: left; */
  padding-right: 33rem;
  padding-top: 2rem;
  grid-row: 8;
}
